html {
    background-color: #6D3705;
  }
  
.text_color{
    color: #FFFBD5;
}

.animation{
  animation: animation 2s forwards;
}

@keyframes animation {
  from {
      opacity: 0;
      transform: translateY(0);
  }
  to {
      opacity: 2;
      transform: translateY(-30%);
  }
}